body{ 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-image: url('https://tse4.mm.bing.net/th/id/OIP.bg82nox4mWXixAgVE4uU-wHaE7?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3'); 
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff; 
    height: 100vh;
    justify-content: center;
    align-items: center; 
    display: flex;
}
div{ 
    width: 80%; 
    margin: auto; 
    overflow: hidden; 
    padding: 20px; 
    background: #e3dd21; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    justify-content: center; 
    align-items: center; 
    display: flex;
    border-radius: 15px;
    border: 2px solid #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    text-shadow: 1px 1px 1px #000000;
    backdrop-filter: blur(5px);
    opacity: 0.85;
}